:root {
  --top-navigation-height: 3.69rem;
  --bottom-navigation-height: 3.815rem;
}

.page-layout {
  min-height: calc(100dvh - var(--top-navigation-height));
  padding: 2.5rem 1.25rem calc(var(--bottom-navigation-height) + 1.5rem);
}

.page-layout-wide {
  max-width: 56.25rem;
  margin: 0 auto;
}

.page-layout-full {
  width: 100%;
}

@media (max-width: 600px) {
  .page-layout {
    padding: 1.875rem 1rem calc(var(--bottom-navigation-height) + 1.5rem);
  }
}

@media (min-width: 1024px) {
  :root {
    --bottom-navigation-height: 0;
  }
}
