:root {
  --top-navigation-height: 59px;
  --bottom-navigation-height: 61px;
}

.page-layout {
  min-height: calc(100dvh - var(--top-navigation-height));
  padding: 40px 20px calc(var(--bottom-navigation-height) + 24px);
}

.page-layout-wide {
  max-width: 900px;
  margin: 0 auto;
}

.page-layout-full {
  width: 100%;
}

@media (max-width: 600px) {
  .page-layout {
    padding: 30px 16px calc(var(--bottom-navigation-height) + 24px);
  }
}

@media (min-width: 1024px) {
  :root {
    --bottom-navigation-height: 0px;
  }
}
